<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - OpenReader</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
		<link rel="manifest" href="/static/site.webmanifest">
		{% block style %}{% endblock %}
	</head>
	<body>
		<nav>
			<h1>OpenReader</h1>
			<ul>
				<li><a href="{{  url_for('index')  }}">Home</a></li>
				{% if g.user %}
					<li><span>Hello, {{ g.user['username'] }}!
						(<a href="{{ url_for('auth.logout') }}">log out</a>)</span>
					</li>
				{% else %}
					<li><a href="{{ url_for('auth.register') }}">Register</a></li>
					<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
				{% endif %}
			</ul>
		</nav>
		<hr>
		<section class="content">
			<header>
				{% block header %}{% endblock %}
			</header>
				{% for message in get_flashed_messages() %}
					<div class="flash">{{ message }}</div>
				{% endfor %}
				{% block content %}{% endblock %}
		</section>
	</body>
</html>
