{% extends "base.html" %}

{% block header %}
	<h1>
		{% block title %}Bookshelf{% endblock %}
	</h1>
{% endblock %}

{% block content %}
    <table id="bookTable" style="border: 1px solid black; border-collapse: collapse">
        <tr>
            <th style="border: 1px solid black; border-collapse: collapse">Click Cover to Read </th>
            <th style="border: 1px solid black; border-collapse: collapse"> Title </th>
            <th style="border: 1px solid black; border-collapse: collapse"> Author </th>
            <th style="border: 1px solid black; border-collapse: collapse"> Remove </th>
        </tr>
        {% for book in books %}
        <tr>
            <td style="border: 1px solid black; border-collapse: collapse">
                <a href="{{ url_for('books.info', id=book.id) }}">
                    <img src="{{ url_for('books.cover', id=book.id, size='small') }}" alt="Book Cover">
                </a>
            </td>
            <td style="border: 1px solid black; border-collapse: collapse">
                {{ book.title }}
            </td>
            <td style="border: 1px solid black; border-collapse: collapse">
                {% if book.authors %}
                    {{ book.authors[0].name }}
                {% endif %}
            </td>
            <td style="border: 1px solid black; border-collapse: collapse">
                <form action="{{ url_for('books.bookshelf') }}" method="POST">
                    <input type="hidden" id="action" name="action" value="delete">
                    <input type="hidden" id="book_id" name="book_id" value="{{ book.id }}">
                    <input type="submit" value="Remove from bookshelf">
                </form>
            </td>
            
            {% if not loop.last %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
<!-- removed unneccessary header row, and made it such that the "Need more books" only appears once, at the end of a bookshelf with books-->
    {% if books %}
        <p>Need more books? Try doing a <a href="{{ url_for('books.search') }}">search</a><!DOCTYPE html>
        </p>
    {% endif %}
	{% if not books %}
		<p>Empty! Why not find some books with a <a href="{{ url_for('books.search') }}">search</a>?</p>
	{% endif %}
{% endblock %}
