{% extends "base.html" %}

{% block header %}
	<h1>
		{% block title %}
			{% if terms %}{{ terms }} - {% endif %}Search
		{% endblock %}
	</h1>
{% endblock %}

{% block content %}
	<form action="{{ url_for('books.search') }}" method="POST">
		<input type="text" name="terms" {% if terms %}value="{{ terms }}"{% endif %} required>
		<br>
		<input type="radio" id="title" name="searchType" value="title"
			{% if searchType == "title" %}checked="checked"{% endif %} required>
		<label for="title">Title</label><br>
		<input type="radio" id="author" name="searchType" value="author"
			{% if searchType == "author" %}checked="checked"{% endif %} required>
		<label for="author">Author</label><br>
		<input type="radio" id="category" name="searchType" value="category"
			{% if searchType == "category" %}checked="checked"{% endif %} required>
		<label for="category">Category</label>
		<br>
		<input type="submit" value="Submit">
	</form>
	{% if terms %}
		<h1>Search results for "{{ terms }}" by {{ searchType }}:</h1>
		{% if books %}
			{% for book in books %}
				<a href="{{ url_for('books.info', id=book.id) }}">
				<img src="{{ url_for('books.cover', id=book.id, size='small') }}" alt="Book Cover">
				{{ book.title }}</a>
				{% if book.authors %}
					by {{ book.authors[0].name }}</p></div>
				{% endif %}
				{% if not loop.last %}
				<hr>
				{% endif %}
			{% endfor %}
		{% else %}
			<p>No results!</p>
		{% endif %}
	{% endif %}
{% endblock %}
