{% extends "base.html" %}

{% block header %}
	<h1>
		{% block title %}
			{% if terms %}{{ terms }} - {% endif %}Search
		{% endblock %}
	</h1>
{% endblock %}

{% block content %}
	<form action="{{ url_for('books.search') }}" method="POST">
		<input type="text" name="terms" {% if terms %}value="{{ terms }}"{% endif %} required>
		<br>
		<input type="radio" id="title" name="searchType" value="title"
			{% if searchType == "title" %}checked="checked"{% endif %} required>
		<label for="title">Title</label><br>
		<input type="radio" id="author" name="searchType" value="author"
			{% if searchType == "author" %}checked="checked"{% endif %} required>
		<label for="author">Author</label><br>
		<input type="radio" id="category" name="searchType" value="category"
			{% if searchType == "category" %}checked="checked"{% endif %} required>
		<label for="category">Category</label>
		<br>
		<input type="submit" value="Submit">
	</form>
	{% if terms %}
		<h1>Search results for "{{ terms }}" by {{ searchType }}:</h1>
		{% if books %}
        <table id="bookTable" style="border: 1px black solid; border-collapse: collapse" >
            <tr>
                <th style="border-width: 1px; border-style: solid solid none; border-color: black; border-collapse: collapse"></th>
                <th style="border-width: 1px; border-style: solid solid none; border-color: black; border-collapse: collapse" onclick="sortTable(1)" id="title"> Title  ↕ </th>
				<th style="border-width: 1px; border-style: solid solid none; border-color: black; border-collapse: collapse" onclick="sortTable(2)" id="author"> Author  ↕ </th>
                <th style="border-width: 1px; border-style: solid solid none; border-color: black; border-collapse: collapse"></th>

            </tr>
            {% for book in books %}
            <tr>
                <td style="border: 1px black solid; border-collapse: collapse">
                    <a href="{{ url_for('books.info', id=book.id) }}">
                        <img src="{{ url_for('books.cover', id=book.id, size='small') }}" alt="Book Cover">
                    </a>
                </td>
                <td style="border: 1px black solid; border-collapse: collapse; max-width: 50em">
                    {{ book.title }}
                </td>
                <td style="border: 1px black solid; border-collapse: collapse">
                    {% if book.authors %}
                        {{ book.authors[0].name }}
                    {% endif %}
                </td>
                <td style="border: 1px black solid; border-collapse: collapse">
                    {% if g.user %}
                    {% if bookmarked %}
                    This book is already in your <a href="{{ url_for('books.bookshelf') }}">bookshelf</a>!
                    {% else %}
                    <form action="{{ url_for('books.bookshelf') }}" method="POST">
                        <input type="hidden" id="action" name="action" value="add">
                        <input type="hidden" id="book_id" name="book_id" value="{{ book.id }}">
                        <input type="submit" value="Add to bookshelf">
                    </form>
                    {% endif %}
                    {% else %}
                    <a href="{{ url_for('auth.login') }}">Log in</a> to add to your bookshelf.
                    {% endif %}
                </td>

            {% endfor %}
            </tr>
        </table>
		{% else %}
			<p>No results!</p>
		{% endif %}
	{% endif %}
	<script src="{{ url_for('static', filename='sortTable.js') }}"></script>
{% endblock %}
