<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - OpenReader</title>
		{% else %}
		<title>OpenReader</title>
		{% endif %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	  	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
		<link rel="manifest" href="/static/site.webmanifest">
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
