{% extends "base.html" %}

{% block body %}
	<h1>Search</h1>
	<form action="{{ url_for('search') }}" method="POST">
		<input type="text" name="terms">
		<br>
		<input type="radio" id="title" name="searchType" value="title" checked="checked">
		<label for="title">Title</label><br>
		<input type="radio" id="author" name="searchType" value="author">
		<label for="author">Author</label><br>
		<input type="radio" id="category" name="searchType" value="category">
		<label for="category">Category</label><br>

		<input type="submit" value="Submit">
	</form>
{% endblock %}
