{% extends "base.html" %}

{% block body %}
	<h1>Search</h1>
	<h2>By Title:</h2>
	<form action="{{ url_for('search') }}" method="post">
		<input type="text" name="termsTitle">
		<input type="submit" value="Submit">
	</form>
	<h2>By Author:</h2>
	<form action="{{ url_for('search') }}" method="post">
		<input type="text" name="termsAuthor">
		<input type="submit" value="Submit">
	</form>
	<h2>By Category:</h2>
	<form action="{{ url_for('search') }}" method="POST">
		<input type="text" name="category">
		<input type="submit" value="Submit">
	</form>
	<h1>Search results for "{{ terms }}" in {{ searchType }}:</h1>
	{% if books %}
		{% for book in books %}
			<a href="{{ url_for('book', id=book.id) }}">{{ book.title }}</a>
			{% if book.authors %}
				by {{ book.authors[0].name }}</p></div>
			{% endif %}
		{% endfor %}
	{% else %}
		<p>No results!</p>
	{% endif %}
{% endblock %}
