{% extends "base.html" %}

{% block body %}
	<h1>Search</h1>
	<h2>By Title:</h2>
	<form action="{{ url_for('search') }}" method="post">
		<input type="text" name="termsTitle">
		<input type="submit" value="Submit">
	</form>
	<h2>By Author:</h2>
	<form action="{{ url_for('search') }}" method="post">
		<input type="text" name="termsAuthor">
		<input type="submit" value="Submit">
	</form>
	<h2>By Category:</h2>
	<form action="{{ url_for('search') }}" method="POST">
		<input type="text" name="category">
		<input type="submit" value="Submit">
	</form>
	{% if titleResults %}
	<h1>Search results for "{{ terms }}" in Titles:</h1>
		{% for book in titleResults %}
			<a href="{{ url_for('book', id=book.id) }}">{{ book.title }}</a>
			{% if book.authors %}
				by {{ book.authors[0].name }}</p></div>
			{% endif %}
		{% endfor %}
	{% elif authorResults %}
	<h1>Search results for "{{ terms }}" in Authors:</h1>
		{% for book in authorResults %}
			<div><p>
				<a href="#">{{ book.authors[0].name }}</a>
			</p></div>
		{% endfor %}
	{% elif categoryBooks %}
	<h1>Search results for "{{ terms }}" in Category:</h1>
		{% for book in categoryBooks %}
			<div>
				<p><a href="">{{ book.title }} by {{ book.authors[0]['name'] }}</a></p>
				<p>Categories:
					<ul>
						{% for subject in book.subjects %}
						<li>{{ subject }}</li>
						{% endfor %}
					</ul>
				</p>
			</div>
		{% endfor %}
	{% else %}
		<p>No results!</p>
	{% endif %}
{% endblock %}