{% extends "base.html" %}

{% block body %}
	<h1>Search</h1>
	<h2>By Title:</h2>
	<form action="{{ url_for('search') }}" method="post">
		<input type="text" name="termsTitle">
		<input type="submit" value="Submit">
	</form>
	<h2>By Author:</h2>
	<form action="{{ url_for('search') }}" method="post">
		<input type="text" name="termsAuthor">
		<input type="submit" value="Submit">
	</form>
	<h2>By Category:</h2>
	<form action="{{ url_for('search') }}" method="POST">
		<input type="text" name="category">
		<input type="submit" value="Submit">
	</form>
	{% if bookTitles %}
	<h1>Search results for "{{ terms }}" in Titles:</h1>
		{% for title in bookTitles %}
			<div><p>
				<a href="#">{{ title }}</a>
			</p></div>
		{% endfor %}
	{% elif authors %}
	<h1>Search results for "{{ terms }}" in Authors:</h1>
		{% for author in authors %}
			<div><p>
				<a href="#">{{ author }}</a>
			</p></div>
		{% endfor %}
	{% elif categoryBooks %}
	<h1>Search results for "{{ terms }}" in Category:</h1>
		{% for book in categoryBooks %}
			<div>
				<p><a href="">{{ book.title }} by {{ book.authors[0]['name'] }}</a></p>
				<p>Categories:
					<ul>
						{% for subject in book.subjects %}
						<li>{{ subject }}</li>
						{% endfor %}
					</ul>
				</p>
			</div>
		{% endfor %}
	{% else %}
		<p>No results!</p>
	{% endif %}
{% endblock %}
